

<%- include('../partials/header') %>

<main>
    <h1>Upcoming Appointments</h1><br>
    <% if (appointments.length>0) {%>
    <table>
      <thead> 
        <tr>
          <th>Name</th>
          <th>DOB</th>
          <th>Location</th>
          <th>Appointment Date</th>
          <th>Provider</th>
          <th>Insurance</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
        <tbody>
            <!-- Write the line of EJS to iterate over flights using forEach -->
            <% appointments.forEach(a => { %>
              <tr>
                
                <td><%= a.name %></td>
                <td><%= a.dob.toDateString() %></td>
                <td><%= a.location %></td>
                <td><%= a.date.toLocaleString() %></td>



                <% if (a.provider.length>0) { %>
                 <td> <%= a.provider[0].provider %> </td>
                 <td> <%= a.provider[0].insurance %></td>
             <% } else {%> 
              <td></td>
              <td></td>
             <% } %>

              <td><a href="/providers/index/<%= a._id %>"> SELECT PROVIDER </a></td>
              <!-- maybe change the name of the link, 
                Add insurance, provider, reason for booking? we will need new files to update info
                do we need a new route? I do not think because update button will be attached to each appointment & their id
                we will need a new update routes file, update controller -->

           
           
                    <td>
        
                        <form action="/appointments/index/<%= a._id %>?_method=DELETE" method="POST">
                          <button type="submit">CANCEL</button>
                        </form>
           
                    </td>
           
                  </tr>
            <!-- Close the forEach using EJS here -->
            <% }) %>
          </tbody>
    </table>
<% } %>
  </main>
  
    <%- include('../partials/footer') %>