<%- include('../partials/header') %>


<main>

<h1>Edit My Appointment</h1>
  
<section>
<div>Name:</div>
<div><%=appointment.name %></div>

<div>Date of Birth:</div>
<div><%=appointment.dob %></div>

<div>Location:</div>
<div> <%=appointment.location %></div>

<div>Appointment Time & Date:</div>
<div><%=appointment.date %> </div>

    <% if (appointment.provider.length>0){ %>
<h3>provider</h3>
<div><%= appointment.provider[0].provider%></div>
<div><%= appointment.provider[0].insurance%></div>
</section>
<% } %>

<form method="POST" action="/providers/index/<%= appointment._id %>?_method=PUT"> 
<label>Add Provider</label>
<select name="provider">
    <option value="" disabled selected hidden>Select</option> 
    <option value="Eduardo Hernandez, MD">Eduardo Hernandez, MD</option>
    <option value="Jessica Parlor, D.O.">Jessica Parlor, D.O.</option>
    <option value="Skye James, P.A.">Skye James, P.A.</option>
    <option value="Alejando Clayton, N.P.">Alejando Clayton, N.P.</option>
    <option value="Cynthia Boyd, MD">Cynthia Boyd, MD</option>
    <option value="Snow Winters, N.P">Snow Winters, N.P</option>
</select><br>



<label>Add Insurance</label>
<select name="insurance">
    <option value="" disabled selected hidden>Select</option> 
    <option value="BlueCross">BlueCross</option>
    <option value="Medicare">Medicare</option>
    <option value="Aetna">Aetna</option>
</select>

    <button type="submit">SUBMIT CHANGES</button>

</form>


  
</main>

<%- include('../partials/footer') %>