<!DOCTYPE html>
<html class="allpages" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='stylesheets/style.css'/> 
    <title>EDIT APPOINTMENT</title>
</head>


<header><%- include('../partials/header') %></header>

<main>

<h1>Edit My Appointment</h1>
  
<section>
<div>Name:</div>
<div><%=appointment.name %></div>

<div>Date of Birth:</div>
<div><%=appointment.dob %></div>

<div>Location:</div>
<div> <%=appointment.location %></div>

<div>Appointment Time & Date:</div>
<div><%=appointment.date %> </div>


<h3>provider</h3>
<div><%= appointment.provider.provider%></div>
<div><%= appointment.provider.insurance%></div>
</section>


<form method="POST" action="/providers/appointments/index/<%= appointment._id%>"> 
<label>Add Provider</label>
<select name="provider">
    <option value="" disabled selected hidden>Select</option> 
    <option value="Eduardo Hernandez, MD">Eduardo Hernandez, MD</option>
    <option value="Jessica Parlor, D.O.">Jessica Parlor, D.O.</option>
    <option value="Skye James, P.A.">Skye James, P.A.</option>
    <option value="Alejando Clayton, N.P.">Alejando Clayton, N.P.</option>
    <option value="Cynthia Boyd, MD">Cynthia Boyd, MD</option>
    <option value="Snow Winters, N.P">Snow Winters, N.P</option>
</select><br>



<label>Add Insurance</label>
<select name="insurance">
    <option value="" disabled selected hidden>Select</option> 
    <option value="BlueCross">BlueCross</option>
    <option value="Medicare">Medicare</option>
    <option value="Aetna">Aetna</option>
</select>

    <button type="submit">SUBMIT CHANGES</button>

</form>


  
</main>

  <%- include('../partials/footer') %>